@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
 :root{
     --main-background:hsl(0, 0%, 90%);
     --keypad-background:hsl(0, 5%, 81%);
     --screen-background:hsl(0, 0%, 93%);
     --key-background: hsl(225, 21%, 49%);
     --key-shadow: hsl(224, 28%, 35%);
    --redkeybackground: hsl(6, 63%, 50%);
    --darkredkeyshadow: hsl(6, 70%, 34%);
    --light-grayish-orange-key-background: hsl(30, 25%, 89%);
    --grayish-orange-key-shadow: hsl(28, 16%, 65%);

/*Text*/

   --verydarkgrayishblue: hsl(221, 14%, 31%);
   --white: hsl(0, 0, 100%);
 }

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
  }
  

  body {
    background-color: hsl(0, 0%, 90%);
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
   
}
.container{
    margin: 30px auto;
  width: 350px;
}
.header{
  display: flex;
  flex-direction: row;
  color: black;
}
.calc-text{
  padding-right: 90px;
}
.theme-selector{
  display: flex;
  flex-direction: row;

}
.theme-buttons{
  padding-left: 20px;
  padding-top: 10px;
}
.theme-numbers{
  font-size: 12px;
  padding-bottom:3px;
}
.theme-numbers > label:nth-child(1){
  padding-left: 10px;
  padding-right: 10px;
}
.theme-numbers >label:nth-child(2){
  padding-right: 10px;
}
.radio-buttons{
  background:hsl(0, 5%, 81%);
  border-radius: 20px;
  padding-bottom:5px;
  padding-left: 5px;
  display: flex;
}
.theme-text{
  padding-top:24px;
  font-size: 12px;
}

.radio-buttons > div> button{
  border-radius: 50%;
  border:1px solid transparent;
  padding:7px
}
.radio-buttons >a{
  padding-right: 5px;
}
.red{
    background-color: var(--keypad-background);
    border: none;
  padding: 8px;
  border-radius: 50%;
}
.orange{
    background-color:hsl(25, 98%, 40%);
    border: none;
  padding: 8px;
  border-radius: 50%;
}
.cyan{
  background-color: var(--keypad-background);
  border: none;
  padding: 8px;
  border-radius: 50%;
}
.red:hover{
  background-color: red;
}
.orange:hover{
  background-color: orange;
}
.cyan:hover{
  background-color: cyan;
}
.radio-buttons> div:nth-child(1){
  padding-right: 10px;
  padding-left: 6px;
  padding-bottom: 5px;
}

.radio-buttons>div:nth-child(2){
  padding-right: 10px;
}
.radio-buttons>div:nth-child(3){
  padding-right: 5px;
}
  .calculator-grid {
    background-color: var(--keypad-background);
    display: grid;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    width:300px;
    height: 400px;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    outline: none;
    border: 0px solid transparent;
    background-color: white;
    border-radius: 3px;
    border-bottom: 4px solid grey;
  }
  
  .calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
  }
  .calculator-grid > button:nth-child(4){
    font-size: 16px;
    color: white;
    background-color:  hsl(185, 42%, 37%);
    border-bottom-color: hsl(185, 58%, 25%) ;
  }
  .calculator-grid > button:nth-child(17){
    font-size: 16px;
    color: white;
    background-color:  hsl(185, 42%, 37%);
    border-bottom-color: hsl(185, 58%, 25%) ;
  }
  .calculator-grid > button:nth-child(18){
    font-size: 16px;
    color: white;
    background-color:  hsl(25, 98%, 40%);
    border-bottom-color: hsl(25, 99%, 27%);
  }
  span-three {
    grid-column: span 3;
  }
  .span-two{
      grid-column:span 2;
  }
  .output-grid{
    padding-bottom: 20px;
  }
  .output {
    grid-column: 1 / -2;
    background-color:hsl(0, 0%, 93%);
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    word-wrap: break-word;
    word-break: break-all;
    height: 70px;
    width: 300px;
  }
  
  .output .previous-operand {
    color: black;
    font-size: 16px;
  }
  
  .output .current-operand {
    color: black;
    font-size: 20px;
  }